.btn-blue{
	background-color:rgb(230,230,230);
	padding:15px 20px;
	border-radius:4px;
	color:black;
	font-weight: bold;
	font-family: 'labrada', serif;
}

.btn-blue:hover{
	background-color:black;
	color:white;
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(230,230,230);
}

.list-inline i:hover{
	color:black;
}